
body {
    overflow-x: hidden;
    color: $blck-txt;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem;
    color: $blck-txt;
}

a, p, .date-num, .date-txt {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: .9rem;
    line-height: 1.7;
    margin: .5rem 0;
}

.sect-menu {
    a {
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
    }
}

img {
    max-width: 100%;
}

h1, h2, h4 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0 ;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 90px;
    letter-spacing: .6rem;
    margin: 0 0 1.2rem 0;
}

h2 {
    font-size: 3rem;
    letter-spacing: .3rem;
}

h3 {
    font-family: 'Courgette', cursive;
    text-transform: capitalize;
    font-size: 1.8rem;
    margin: 0 1rem;
    font-weight: 400;

}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 1.4rem;
}

.txt-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main {
    h3 {
        color: $pato-red;
    }
    a {
    transition: all .3s ease-in-out;
    }
    a:hover {
        color: $pato-red;
    }
}

.sect {
    padding: 6vh 0;
    display: grid;

    .wrapper {
    display: grid;
    width: 100%;
    align-content: center;
    }
}

.sect-titles {
    text-align: center;
}


input, textarea {
    color: $gris-txt;
    border-radius: 5px;
    border-style: initial;
    border: 2px solid $gris-txt;
    padding: 10px;
    width: 100%;
}


.img-contain {
    background-position: center;
    background-size: cover;
    
    overflow: hidden;
}

// form
.form-elem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label {
        margin-bottom: .5rem;
    }



// animation
@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }
    
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
}
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
}
}

@keyframes rotate {
    0% {
        transform: rotate(0);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
}

@media screen and (max-width: 1023px) {
    .wrapper {
        max-width: 90vw;
    }
}