.header {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg-intro-01.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: $white;
    h3 {
        font-size: 3.7rem;
        animation: 1.3s ease-in-out slideDown;
    }
        a:not(.btn) {
            color: $white;
            &:hover {
                color: $pato-red;
            }
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
        .head-txt {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        a {
            transition: all .4s ease-in-out;
            animation: 1.3s ease-in-out rotate;

        }
        h1 {
            animation: 1.3s ease-in-out slideUp;
        }
}