
.sect-two {
    grid-template-columns: repeat(2, 1fr);
    // background-image: url(../images/icons/pattern1.png);
    // background-repeat: repeat;
    .txt-bloc, .img-bloc {
        margin: 4vw;
    }
    .txt-bloc {
        margin-left: 0;
    }
    .img-bloc {
        margin-right: 0;
        width: 70%;
        img {
            border-radius: 10px;
        }
    }
    a {
        letter-spacing: 1px;
    }
}

.sect-solo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    h2 {
        color: $white;
    }
}

.sect-discover {
    background-image: url(../../img/bg-intro-01.jpg);
    height: 45vh;
}

.sect-3blocs {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    .txt-bloc {
        align-items: flex-start;
        text-align-last: left;
    }
    .art-1bloc {
        display: grid;
        grid-template-rows: 60% 40%;
        height: 400px;
        .img-contain {
            overflow: hidden;
            border-radius: 15px;
            a {
                background-image: url(../../img/intro-01.jpg);
                background-position: center;
                background-size: cover;
                display: block;
                height: 100%;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}