// Section welcome et book a table
.sect-two {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        .txt-bloc, .img-bloc {
            margin: 4vw;
        }
        .txt-bloc {
            margin-left: 0;
        }
        .img-bloc {
            margin-right: 0;
            width: 70%;
            max-width: 390px;
            max-height: 390px;
            overflow: hidden;
            border-radius: 10px;
            img {
                height: 100%;
                transition: transform .3s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        a {
            letter-spacing: 1px;
        }
    }
}

.sect-welcome {
    background-image: url(../img/pattern1.png);
    background-repeat: repeat;
}

// sections avec background fixe
.sect-solo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    h2 {
        color: $white;
    }
}
// first section bckgrnd fixe
.sect-discover {
    background-image: url(../img/bg-intro-01.jpg);
    height: 45vh;
}

.sect-two, .sect-3blocs {
    .txt-bloc {
        p {
            margin-bottom: 1.5rem;
        }
    }
}
// sections à 3 blocs
.sect-3blocs {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    .txt-bloc {
        align-items: flex-start;
        text-align: left;
        
    }
    .art-1bloc {
        display: grid;
        grid-template-rows: 60% 40%;
        height: 400px;
        .img-contain {
            overflow: hidden;
            border-radius: 15px;
            a {
                background-position: center;
                background-size: cover;
                display: block;
                height: 100%;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .art-1bloc:nth-of-type(1) {
        .img-contain {
            a {
                background-image: url(../img/intro-01.jpg);
            }
        }
    }
    .art-1bloc:nth-of-type(2) {
        .img-contain {
            a {
                background-image: url(../img/photo-gallery-01.jpg);
            }
        }
    }
    .art-1bloc:nth-of-type(3) {
        .img-contain {
            a {
                background-image: url(../img/intro-04.jpg);
            }
        }
    }
}

.sect-menu {
    background-image: url(../img/pattern1.png);
    background-repeat: repeat;
    .grid-menu {
        display: grid;
        gap: 2rem;
        height: 700px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "lun din dri"
        "lun din sta"
        "hap hap des"
        ;
        
        .art-menu {
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
            &:hover .img-contain {
                transform: scale(1.1);
            }
            .img-contain {
                position: absolute;
                z-index: 0;
                height: 100%;
                width: 100%;
                transition: transform .3s ease-in-out;
                
            }
            a {
                background-color: rgba(255, 255, 255, .8);
                padding: 1.5rem;
                border-radius: 15px;
                font-size: 1.4rem;
                letter-spacing: .1rem;
                z-index: 1;
                &:hover {
                    background-color: rgba(252, 44, 44, 0.8);
                    color: $white;
                }
            }
        }
        .art-lunch {
            grid-area: lun;
            .img-contain {
                background-image: url(../img/blog-14.jpg);
            }
        }
        .art-dinner {
            grid-area: din;
            .img-contain {
                background-image: url(../img/our-menu-05.jpg);
            }
        }
        .art-drink {
            grid-area: dri;
            .img-contain {
                background-image: url(../img/our-menu-08.jpg);
            }
        }
        .art-start {
            grid-area: sta;
            .img-contain {
                background-image: url(../img/our-menu-10.jpg);
            }
        }
        .art-happy {
            grid-area: hap;
            .img-contain {
                background-image: url(../img/our-menu-13.jpg);
            }
        }
        .art-dessert {
            grid-area: des;
            .img-contain {
                background-image: url(../img/our-menu-16.jpg);
            }
        }
    }
}

.sect-events {
    height: 100vh;
    background-image: url(../img/bg-event-01.jpg);
    background-position: center;
    background-size: cover;
    h2 {
        color: $white;
    }
    .art-event {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        text-align: center;
        border-radius: 15px;
        overflow: hidden;
        a {
            .img-contain {
                background-image: url(../img/event-06.jpg);
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
                position: relative;
                .vert {
                    // transform: rotate(90deg);
                    writing-mode: vertical-lr;
                    color: $white;
                    position: absolute;
                    background-color: $c-thru-red;
                    width: 60px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
            }
        }
        .event-txt {
            display: flex;
            flex-direction: column;
            background-color: $white;
            padding: 3rem;
            p {
                margin-bottom: 2rem;
            }
        }
        .maxi-date {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            text-align: center;
            .date-txt, .date-num {
                font-weight: 700;
            }
            .date-num {
                font-size: 3rem;
                color: $pato-red;
            }
            .date-txt {
                text-transform: uppercase;
                font-size: .8rem;
                color: $gris-txt
            }
        }
    }
}

// sect-reserve
.sect-reserve {
    .reserve-form {
        font-family: 'Montserrat', sans-serif;
        color: $dark-gris;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 1fr);
        gap: 2rem;
    }
}

// sect-review
.sect-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    .rev-img-contain {
        border-radius: 50%;
        width: 118px;
        height: 118px;
        background-image: url(../img/avatar-03.jpg);
        background-position: center;
        background-size: cover;
        border: 3px solid $pato-red ;
    }
    .txt-bloc {
        p, small {
            color: $dark-gris;
        }
        p {
            max-width: 1000px;
            font-size: 1.1rem;
        }
        small {
            font-size: .75rem;
            text-transform: uppercase;
            margin-bottom: 3rem;
        }
        .stars {
            color: $pato-red;
            margin-bottom: 3rem;
        }
        .dots {
            font-size: .5rem;
            color: $gris-txt;
            margin-bottom: 4rem;
        }
        i:nth-of-type(2) {
            color: $pato-red;
            margin: 0 5px;
        }
    }
}

// sect-discover
.sect-discover {
    height: 80vh;
    background-image: url(../img/bg-cover-video-02.jpg);
    .play {
        width: 70px;
        height: 70px;
        background-color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease-in-out;
        margin-top: 2rem;
        &:hover {
            transform: scale(1.2);
            color: $white;
            background-color: $c-thru-red;
        }
    }
}


// sect-bloginette

.sect-bloginette {
    .art-1bloc {
        .img-contain {
            position: relative;
            small {
                position: absolute;
                bottom: 10px;
                left: 20px;
                color: $white;
                background-color: rgba(0, 0, 0, 0.308);
                padding: 4px;
                border-radius: 2px;
            }
        }
        
    }
    .art-1bloc:nth-of-type(1) {
        .img-contain {
            a {
                background-image: url(../img/blog-01.jpg);
            }
        }
    }
    .art-1bloc:nth-of-type(2) {
        .img-contain {
            a {
                background-image: url(../img/blog-02.jpg);
            }
        }
    }
    .art-1bloc:nth-of-type(3) {
        .img-contain {
            a {
                background-image: url(../img/blog-03.jpg);
            }
        }
    }
}

// sect-signup
.sect-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: url(../img/pattern1.png);
    background-repeat: repeat;
    input:nth-of-type(1) {
        width: 20vw;
        margin: 0 2rem;
    }
}



@media screen and (max-width: 768px) {
    .sect-two {
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            .img-bloc {
                margin-left: 0;
            }
        }
    }
    
    .sect-3blocs {
        display: flex;
        flex-direction: column;
    }
    
    .sect-menu {
        .grid-menu {
            height: fit-content;
            grid-template-columns: 100%;
            // grid-template-rows: 4fr 4fr 1fr 2fr 2fr 2fr;
            grid-template-rows: 60vh 60vh 15vh 30vh 30vh 30vh;
            grid-template-areas: 
            "lun"
            "din"
            "hap"
            "dri"
            "sta"
            "des"
            ;
        }
    }
    
    .sect-events {
        height: fit-content;
        .art-event {
            grid-template-rows: 1fr 2fr;
            grid-template-columns: 100%;
            a {
                .img-contain {
                    .vert {
                        writing-mode: horizontal-tb;
                        width: 100%;
                        height: 40px;
                    }
                }
            }
            .event-txt {
                padding: 1.5rem;
                .maxi-date {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    grid-template-areas: 
                    "num1 num2"
                    "txt1 txt2"
                    "num3 num4"
                    "txt3 txt4"
                    ;
                    padding: 0 3rem;
                    .date1 {
                        grid-area: num1;
                    }
                    .date2 {
                        grid-area: num2;
                    }
                    .date3 {
                        grid-area: num3;
                    }
                    .date4 {
                        grid-area: num4;
                    }
                    .date5 {
                        grid-area: txt1;
                    }
                    .date6 {
                        grid-area: txt2;
                    }
                    .date7 {
                        grid-area: txt3;
                    }
                    .date8 {
                        grid-area: txt4;
                    }
                    }
                    
                }
            }
        }
        .sect-reserve {
            .wrapper {
                .txt-bloc {
                    margin-right: 0;
                }
            }
            .reserve-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .form-time, .form-date {
                    width: 100%;
                }
            }
        }
        
        .sect-signup {
            flex-direction: column;
            input:nth-of-type(1) {
                width: 70%;
                margin-bottom: 1rem;
            }
        }
    }